* {
  padding: 0;
  margin: 0;
}

border-box {
  box-sizing: border-box;
  width: 1920px;
  height: 1020px;
}

.loader{
 border:16px solid #f3f3f3;
 border-top: 16px solid darkred;
 border-radius: 50%;
 width:120px;
 height:120px;
 animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate (360deg);
  }
}


body {
  position: relative;
  font-family: 'Poppins',sans-serif;

  background-color: #e1f5f2;
  box-sizing: border-box;
  margin: 0;
  background-image: url(../Pictures/10876.jpg);
  object-fit: cover;

  border-color: black;
  padding-bottom: 200px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.container {
    top: 0em;
    display: flex;
    background-color: #e1f5f2;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: relative;
}
.subcontainer {
  width: 76em;
  margin: auto;
}
.navbar {
  width: 100%;
  min-height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  margin: -64px;
  height: 30px;
  width: 40rem;
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 2em;
  justify-content: center;
}
.nav-item {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 2px;
  justify-content: center;
  display: flex;
  height: 38px;
  width: 130px;
  align-items: center;

}
.nav-item :hover {
  justify-content: center;
  display: flex;
  background-color: #007169c1;  
  border-radius: 5px;
  color: aliceblue;
  height: 38px;
  width: 130px;
  align-items: center;

}
a {
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #007169c6;
}

.logo {
    width: 340px;
    height: 146px;
    color: black;
    background-color: aqua;
    z-index: 2;
    margin-right: auto;
    object-fit: cover;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: rgb(91, 77, 77);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  display: none; /* Initially hidden */
  z-index: 999; /* Place it above other content */
}
.overlay.active {
  display: block;
}

/*-------------------------------------_-------------------_------------------*/
  
.caruposition{
  justify-content: center;
  display: flex;

}

 .carousel-item {
  justify-content: center;
  display: flex;
  opacity: 100%;
  top:200px;
  position: relative;
  gap: 2em;
  overflow: hidden;
  max-width: 1200px;

}
.carousel-item :hover{
background-color: #b6f7e039;
   
}


.btn-wrapper{
  display: flex;
  gap: 2 rem;
  width: 85%;
  justify-content: center;
  height: 2em;
  padding: 2 rem;

}
.btn-wrapper button{
  border: 2px solid white;
  background: transparent;
  color:white;
  border-radius: 30px;
  width: 3rem;
  cursor: pointer;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn-wrapper button:hover {
  opacity:0.4;

}

.product{
  background-color: #e1f5f2c7;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 1px;
  display: block;
  justify-content: center;
}
.h2{
  justify-content: center;
    display: flex;
  color: #275f4e;

position: relative;

}
.img {
  opacity: 100%;
  height: 171px;
  width: 360px;

}

/*-------------------------------billboard---------------------------------------------*/

.Billboardcontent {

    width: 65%;
    margin: auto;
    width: 1200px;
    height: 306px;
    background-color: #e1f5f2c7;
    box-shadow: 3px 3px 5px 1px;
    top: 218px;
    position: relative;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
 

.billboardpicture {
  width: 499px;
  height: 283px;
  border-radius: 5px;
  margin: 20px;
}
.welcome {
    color: #00716a;
    font-weight: 500;

}

.boardbutton{
  top: 5em;
  position: relative;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 2px;
  justify-content: center;
  display: flex;
  height: 38px;
  width: 130px;
  align-items: center;
  margin: 2em;
  BORDER:none;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
  color: #007169c6;
}
.boardbutton:hover {
  justify-content: center;
  display: flex;
  background-color: #007169c1;  
  border-radius: 5px;
  color: aliceblue;
  height: 38px;
  width: 130px;
  align-items: center;

}
/*---------------------Footer---------------------*/

.footer{
   
    display: flex;
    background-color: #e1f5f2;
    justify-content: center;
    width: 100%;
    height: 50px;

    position: fixed;
    bottom: 0em;


}
.subfooter{
width: 76.5em;

}
.someicons{
  width: 94%;
  min-height: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer_icons{
  padding: 0px;
  font-size: 32px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px ;
  justify-content: center;
  display: flex;
  gap: 1em;
}



.minilogo{
width: 100px;
}




/*------------------BOARD PAGE---------------------*/

.boardcentered {
  top: 30px;
  justify-content: center;
  display: flex;
  position: relative;
}

.boardscontainer {
  opacity: 100%;
  top: 150px;
  position: relative;
  gap: 2em;
  max-width: 1540px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 1em;
}

.boardsposts {
  justify-content: center;
  display: flex;
  width: 100%;
  margin: auto;
height: 178px;
  background-color: #e1f5f2c7;
  box-shadow: 3px 3px 5px 1px;
  top: 0px;
  position: relative;
  border-radius: 5px;
  justify-content: space-between;
  display: block;
}
.boardscontainer :hover{
  background-color: #b6f7e039;
} 

.boardcard{
    margin: 1em;
    font-size: 1.2em;
    font-weight: 500;
    justify-content: center;
    display: flex;
}
.img{
 
  opacity: 100%;
    height: 119px;
    width: 288px;
}



/*-----------------------Contact------------------------*/

.contact-container{
 top: 20em;
  position: relative;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 1200px;
  height: 306px;
  background-color: #e1f5f2c7;
  box-shadow: 3px 3px 5px 1px;
  top: 218px;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.contact-form{
  display: block;

  
}
.contact-form #name #email #subject #message{
margin: 2em;
  
}
#name{
  left:60px;
  position: relative;
}
#email{
  left: 62px;
  position: relative;
}

#subject{
  left:49px;
  position: relative;
}


#message{
  left:24px;
  position: relative;
}


.Submitbtn{
  left:16em;
  position: relative;
  top:5em;
}

















@media (max-width: 100%) {
  .header {
    width: 100%;
 
  }
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
    margin-left: 54px;
    
  }

  .hamburger.active.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
 
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 200px;
    gap: 1px;
    flex-direction: column;
    background-color: #48b08d00;
    width: 50%;
    text-align: center;
    transition: 0.3s;
    justify-content: left;
    z-index: 100;
   
  }
.navbar {
    width: 112%;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .nav-item {
    margin: 0px;
    background-color: #76ac9a;
    padding: 10px;
    border: 1px solid;
    width: 164px;
  }
  .nav-menu.active {
    right: 56px;
}

  .logo {
    width: 197px;
    height: 84px;
    color: black;
    background-color: aqua;
    z-index: 10;
    margin-left: 1.3em;
    top: 0.2em;
    object-fit: cover;
    position: relative;
    margin: 0.5em;
    left: 0.5em;
}
  
 /* ---------------------------------------------------------- */
  .carousel-item {

    display: block;
    opacity: 100%;
    top:200px;
    position: relative;
    gap: 1em;
    width: 85%;
  justify-content: center;
  
  }
  
  .product{
    background-color: #e1f5f2c7;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px;
    display: block;
    justify-content: center;
    margin: 1em;
  
    
  }
  .h2{
    color: #275f4e;
  
    position: relative;
    font-size: 16px;
  
  }
  .img {
    opacity: 100%;
    height: 141px;
    width: 260px;
  
  }
  
  /*-------------------------------billboard---------------------------------------------*/

  .Billboardcontent {
    width: 85%;
    margin: auto;
    height: 606px;
    background-color: e1f5f2c7;
    box-shadow: 3px 3px 5px 1px;
    top: 272px;
    position: relative;
    border-radius: 5px;
    justify-content: center;
    display: block;



}
.h2{
  justify-content: center;
  display: flex;
}
.billboardpicture {
  width: 18em;
  height: 174px;
  border-radius: 5px;

}

.boardbutton{
    margin: 40px;
    width: 200px;
    height: 58px;
    background-color:#00716978;


}
header {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 1000;
  }
 .welcome {
  width: 18em;
  margin: 1.5em;
  font-size: 1.0em;
}
/*--------------------------------------------------------*/
.boardcentered {
  top: -61px;
  justify-content: center;
  display: flex;
  position: relative;

}

.boardscontainer{
  justify-content: center;
  display: block;
  opacity: 100%;
  top:200px;
  position: relative;
  gap: 2em;
  max-width: 1200px;
  margin-bottom: 1em;


   

}

.boardsposts {

  width: 100%;
  margin: auto;
  height: 184px;
  background-color: #e1f5f2c7;
  box-shadow: 3px 3px 5px 1px;
  top: 0px;
  position: relative;
  border-radius: 5px;
  justify-content: center;
  display: block;


 
 

}

.boardcard{
    margin: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

/*---------------------contact------------------------------*/
.contact-container{
  top: 20em;
   position: relative;
   justify-content: center;
   display: flex;
   margin: auto;
   width: 80%;
   height: 386px;
   background-color: #e1f5f2c7;
   box-shadow: 3px 3px 5px 1px;
   top: 218px;
   position: relative;
   border-radius: 5px;
   display: flex;
   align-items: center;
 }
 
 .contact-form{
   display: block;
 
   
 }

 #name{
   left:60px;
   position: relative;
 }
 #email{
   left:px;
   position: relative;
 }
 
 #subject{
   left:49px;
   position: relative;
 }



 #message{
  left: 24px;
  position: relative;
  top: 3em;
  width: 66%;
  height: 10em;

}


.Submitbtn{
  left:16em;
  position: relative;
  top:5em;
}

/*-----------------------FOOTER----------------------*/
.minilogo{
  display: none;
}

}
 



/*-------------------------------------------------------------------*/
.someicons {
  width: 95%;
  min-height: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





